{% assign item = include.item %}
<div class="pub-item px-3 py-2 {% unless include.hide_bottom_border %}border-bottom{% endunless %} border-gray {% if include.first %}rounded-xl-top{% endif %} {% if include.last %}rounded-xl-bottom{% endif %}">
    <div class="pub-title">{{ item.title }}</div>
    <div class="pub-authors">{% include widgets/author_list.html authors=item.authors %}</div>
    <div class="pub-meta">
        <span class="pub-venue">{{ item.pub_pre }}<i>{{ item.pub }}</i>{{ item.pub_post }} {{ item.pub_date }}{{ item.pub_last }}</span>
    </div>
    {% if item.abstract %}
    <div class="pub-abstract text-muted">{{ item.abstract }}</div>
    {% endif %}
</div>
